In [2]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
import warnings
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv(r"C:\Users\mvenk\Downloads\Crime_Data_from_2020_to_Present.csv")
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,200412582,09/09/2020 12:00:00 AM,09/09/2020 12:00:00 AM,630,4,Hollenbeck,413,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E AVENUE 28,NaN,34.0820,-118.2130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005193,250304214,02/23/2025 12:00:00 AM,02/21/2025 12:00:00 AM,1530,3,Southwest,358,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,3600 MCCLINTOCK AV,NaN,34.0212,-118.2895
1005194,250304203,02/20/2025 12:00:00 AM,02/13/2025 12:00:00 AM,2100,3,Southwest,325,1,522,"VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, B...",...,IC,Invest Cont,522.0,NaN,NaN,NaN,2600 ELLENDALE PL,NaN,34.0307,-118.2923
1005195,250504051,01/14/2025 12:00:00 AM,01/14/2025 12:00:00 AM,1250,5,Harbor,509,1,210,ROBBERY,...,IC,Invest Cont,210.0,NaN,NaN,NaN,24300 WESTERN AV,NaN,33.8046,-118.3074
1005196,251604136,02/27/2025 12:00:00 AM,02/27/2025 12:00:00 AM,1550,16,Foothill,1664,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,NaN,NaN,NaN,11900 SHELDON ST,NaN,34.2404,-118.3922
1005197,251904210,03/25/2025 12:00:00 AM,03/25/2025 12:00:00 AM,1235,19,Mission,1944,2,850,INDECENT EXPOSURE,...,IC,Invest Cont,850.0,NaN,NaN,NaN,11100 OMELVENY AV,NaN,34.2722,-118.4417

In [6]:
df.shape

(1005198, 28)

In [8]:
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,200412582,09/09/2020 12:00:00 AM,09/09/2020 12:00:00 AM,630,4,Hollenbeck,413,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E AVENUE 28,NaN,34.0820,-118.2130

In [10]:
print(df.shape)

(1005198, 28)

In [12]:
print(df.head())

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130     7
1  200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800     1
2  200320258  11/11/2020 12:00:00 AM  11/04/2020 12:00:00 AM      1700     3
3  200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037     9
4  200412582  09/09/2020 12:00:00 AM  09/09/2020 12:00:00 AM       630     4

    AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0    Wilshire          784         1     510
1     Central          182         1     330
2   Southwest          356         1     480
3    Van Nuys          964         1     343
4  Hollenbeck          413         1     510

                                Crm Cd Desc  ... Status   Status Desc  \
0                          VEHICLE - STOLEN  ...     AA  Adult Arrest
1                     BURGLARY FROM VEHICLE  ...     IC   Invest Cont
2                             BIKE - STOLEN  ...     IC   Invest Cont
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...     IC   Invest Cont
4                          VEHICLE - STOLEN  ...     IC   Invest Cont

  Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    510.0    998.0       NaN      NaN
1    330.0    998.0       NaN      NaN
2    480.0      NaN       NaN      NaN
3    343.0      NaN       NaN      NaN
4    510.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1900 S  LONGWOOD                     AV          NaN  34.0375 -118.3506
1   1000 S  FLOWER                       ST          NaN  34.0444 -118.2628
2   1400 W  37TH                         ST          NaN  34.0210 -118.3002
3  14000    RIVERSIDE                    DR          NaN  34.1576 -118.4387
4                          200 E  AVENUE 28          NaN  34.0820 -118.2130

[5 rows x 28 columns]

In [22]:
print(df.columns) 
print(df.info())

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005198 entries, 0 to 1005197
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1005198 non-null  int64
 1   Date Rptd       1005198 non-null  object
 2   DATE OCC        1005198 non-null  object
 3   TIME OCC        1005198 non-null  int64
 4   AREA            1005198 non-null  int64
 5   AREA NAME       1005198 non-null  object
 6   Rpt Dist No     1005198 non-null  int64
 7   Part 1-2        1005198 non-null  int64
 8   Crm Cd          1005198 non-null  int64
 9   Crm Cd Desc     1005198 non-null  object
 10  Mocodes         853438 non-null   object
 11  Vict Age        1005198 non-null  int64
 12  Vict Sex        860416 non-null   object
 13  Vict Descent    860404 non-null   object
 14  Premis Cd       1005182 non-null  float64
 15  Premis Desc     1004610 non-null  object
 16  Weapon Used Cd  327280 non-null   float64
 17  Weapon Desc     327280 non-null   object
 18  Status          1005197 non-null  object
 19  Status Desc     1005198 non-null  object
 20  Crm Cd 1        1005187 non-null  float64
 21  Crm Cd 2        69159 non-null    float64
 22  Crm Cd 3        2314 non-null     float64
 23  Crm Cd 4        64 non-null       float64
 24  LOCATION        1005198 non-null  object
 25  Cross Street    154243 non-null   object
 26  LAT             1005198 non-null  float64
 27  LON             1005198 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB
None

In [30]:
df.rename(columns={
    'DR_NO': 'Report Number',
    'Date Rptd': 'Date Reported',
    'DATE OCC': 'Date Occurred',
    'TIME OCC': 'Time Occurred',
    'AREA': 'Area Code',
    'AREA NAME': 'Area Name',
    'Rpt Dist No': 'Reporting District',
    'Part 1-2': 'Crime Category Part',
    'Crm Cd': 'Primary Crime Code',
    'Crm Cd Desc': 'Primary Crime Description',
    'Mocodes': 'MO Codes',
    'Vict Age': 'Victim Age',
    'Vict Sex': 'Victim Sex',
    'Vict Descent': 'Victim Descent',
    'Premis Cd': 'Premise Code',
    'Premis Desc': 'Premise Description',
    'Weapon Used Cd': 'Weapon Code',
    'Weapon Desc': 'Weapon Description',
    'Status': 'Status Code',
    'Status Desc': 'Status Description',
    'Crm Cd 1': 'Crime Code 1',
    'Crm Cd 2': 'Crime Code 2',
    'Crm Cd 3': 'Crime Code 3',
    'Crm Cd 4': 'Crime Code 4',
    'LOCATION': 'Location Description',
    'Cross Street': 'Cross Street',
    'LAT': 'Latitude',
    'LON': 'Longitude'
}, inplace=True)

In [32]:
df

,Report Number,Date Reported,Date Occurred,Time Occurred,Area Code,Area Name,Reporting District,Crime Category Part,Primary Crime Code,Primary Crime Description,...,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Location Description,Cross Street,Latitude,Longitude
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,200412582,09/09/2020 12:00:00 AM,09/09/2020 12:00:00 AM,630,4,Hollenbeck,413,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E AVENUE 28,NaN,34.0820,-118.2130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005193,250304214,02/23/2025 12:00:00 AM,02/21/2025 12:00:00 AM,1530,3,Southwest,358,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,3600 MCCLINTOCK AV,NaN,34.0212,-118.2895
1005194,250304203,02/20/2025 12:00:00 AM,02/13/2025 12:00:00 AM,2100,3,Southwest,325,1,522,"VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, B...",...,IC,Invest Cont,522.0,NaN,NaN,NaN,2600 ELLENDALE PL,NaN,34.0307,-118.2923
1005195,250504051,01/14/2025 12:00:00 AM,01/14/2025 12:00:00 AM,1250,5,Harbor,509,1,210,ROBBERY,...,IC,Invest Cont,210.0,NaN,NaN,NaN,24300 WESTERN AV,NaN,33.8046,-118.3074
1005196,251604136,02/27/2025 12:00:00 AM,02/27/2025 12:00:00 AM,1550,16,Foothill,1664,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,NaN,NaN,NaN,11900 SHELDON ST,NaN,34.2404,-118.3922
1005197,251904210,03/25/2025 12:00:00 AM,03/25/2025 12:00:00 AM,1235,19,Mission,1944,2,850,INDECENT EXPOSURE,...,IC,Invest Cont,850.0,NaN,NaN,NaN,11100 OMELVENY AV,NaN,34.2722,-118.4417

In [34]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ','_').str.replace('-','_')

In [36]:
df.columns

Index(['report_number', 'date_reported', 'date_occurred', 'time_occurred',
       'area_code', 'area_name', 'reporting_district', 'crime_category_part',
       'primary_crime_code', 'primary_crime_description', 'mo_codes',
       'victim_age', 'victim_sex', 'victim_descent', 'premise_code',
       'premise_description', 'weapon_code', 'weapon_description',
       'status_code', 'status_description', 'crime_code_1', 'crime_code_2',
       'crime_code_3', 'crime_code_4', 'location_description', 'cross_street',
       'latitude', 'longitude'],
      dtype='object')

In [38]:
columns_to_keep = ['report_number', 'date_reported', 'date_occurred', 'time_occurred',
                  'area_name','crime_code_1', 'crime_code_2',
       'crime_code_3', 'crime_code_4','status_code', 'status_description','location_description', 'cross_street',
       'latitude', 'longitude']

In [40]:
columns_to_keep

['report_number',
 'date_reported',
 'date_occurred',
 'time_occurred',
 'area_name',
 'crime_code_1',
 'crime_code_2',
 'crime_code_3',
 'crime_code_4',
 'status_code',
 'status_description',
 'location_description',
 'cross_street',
 'latitude',
 'longitude']

In [42]:
df = df[columns_to_keep]

In [44]:
df['date_reported'] = pd.to_datetime(df['date_reported'], errors ='coerce')
df['date_occurred'] = pd.to_datetime(df['date_occurred'], errors = 'coerce')

In [50]:
df.isnull().sum()

report_number                 0
date_reported                 0
date_occurred                 0
time_occurred                 0
area_name                     0
crime_code_1                 11
crime_code_2             936039
crime_code_3            1002884
crime_code_4            1005134
status_code                   1
status_description            0
location_description          0
cross_street             850955
latitude                      0
longitude                     0
dtype: int64

In [52]:
missing_percentage = (df.isnull().sum()/len(df) * 100)

In [54]:
missing_percentage = missing_percentage.sort_values(ascending=False)

In [56]:
missing_percentage

crime_code_4            99.993633
crime_code_3            99.769797
crime_code_2            93.119863
cross_street            84.655461
crime_code_1             0.001094
status_code              0.000099
report_number            0.000000
date_reported            0.000000
date_occurred            0.000000
time_occurred            0.000000
area_name                0.000000
status_description       0.000000
location_description     0.000000
latitude                 0.000000
longitude                0.000000
dtype: float64

In [66]:
df.drop(columns = ['crime_code_4','crime_code_3','crime_code_2','cross_street'],inplace=True)

In [68]:
df.columns

Index(['report_number', 'date_reported', 'date_occurred', 'time_occurred',
       'area_name', 'crime_code_1', 'status_code', 'status_description',
       'location_description', 'latitude', 'longitude'],
      dtype='object')

In [70]:
# extracting the usefull time features 

df['Year'] = df['date_occurred'].dt.year
df['Month'] = df['date_occurred'].dt.month
df['Day'] = df['date_occurred'].dt.day
df['Hour'] = df['time_occurred'] // 100

In [72]:
df

,report_number,date_reported,date_occurred,time_occurred,area_name,crime_code_1,status_code,status_description,location_description,latitude,longitude,Year,Month,Day,Hour
0,190326475,2020-03-01,2020-03-01,2130,Wilshire,510.0,AA,Adult Arrest,1900 S LONGWOOD AV,34.0375,-118.3506,2020,3,1,21
1,200106753,2020-02-09,2020-02-08,1800,Central,330.0,IC,Invest Cont,1000 S FLOWER ST,34.0444,-118.2628,2020,2,8,18
2,200320258,2020-11-11,2020-11-04,1700,Southwest,480.0,IC,Invest Cont,1400 W 37TH ST,34.0210,-118.3002,2020,11,4,17
3,200907217,2023-05-10,2020-03-10,2037,Van Nuys,343.0,IC,Invest Cont,14000 RIVERSIDE DR,34.1576,-118.4387,2020,3,10,20
4,200412582,2020-09-09,2020-09-09,630,Hollenbeck,510.0,IC,Invest Cont,200 E AVENUE 28,34.0820,-118.2130,2020,9,9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005193,250304214,2025-02-23,2025-02-21,1530,Southwest,510.0,IC,Invest Cont,3600 MCCLINTOCK AV,34.0212,-118.2895,2025,2,21,15
1005194,250304203,2025-02-20,2025-02-13,2100,Southwest,522.0,IC,Invest Cont,2600 ELLENDALE PL,34.0307,-118.2923,2025,2,13,21
1005195,250504051,2025-01-14,2025-01-14,1250,Harbor,210.0,IC,Invest Cont,24300 WESTERN AV,33.8046,-118.3074,2025,1,14,12
1005196,251604136,2025-02-27,2025-02-27,1550,Foothill,510.0,AA,Adult Arrest,11900 SHELDON ST,34.2404,-118.3922,2025,2,27,15
1005197,251904210,2025-03-25,2025-03-25,1235,Mission,850.0,IC,Invest Cont,11100 OMELVENY AV,34.2722,-118.4417,2025,3,25,12

In [76]:
print(df['date_occurred'])
print(df['date_reported'])
print(df['time_occurred'])

0         2020-03-01
1         2020-02-08
2         2020-11-04
3         2020-03-10
4         2020-09-09
             ...
1005193   2025-02-21
1005194   2025-02-13
1005195   2025-01-14
1005196   2025-02-27
1005197   2025-03-25
Name: date_occurred, Length: 1005198, dtype: datetime64[ns]
0         2020-03-01
1         2020-02-09
2         2020-11-11
3         2023-05-10
4         2020-09-09
             ...
1005193   2025-02-23
1005194   2025-02-20
1005195   2025-01-14
1005196   2025-02-27
1005197   2025-03-25
Name: date_reported, Length: 1005198, dtype: datetime64[ns]
0          2130
1          1800
2          1700
3          2037
4           630
           ...
1005193    1530
1005194    2100
1005195    1250
1005196    1550
1005197    1235
Name: time_occurred, Length: 1005198, dtype: int64

In [80]:
df['date_occurred'] = pd.to_datetime(df['date_occurred']).dt.strftime('%d-%m-%Y')
df['date_reported'] = pd.to_datetime(df['date_reported']).dt.strftime('%d-%m-%Y')

In [84]:
# Pad with zeros (in case any value is like '930' → '0930')
df['time_occurred'] = df['time_occurred'].astype(str).str.zfill(4)

# Convert to HH:MM format
df['time_occurred'] = df['time_occurred'].str.slice(0, 2) + ':' + df['time_occurred'].str.slice(2, 4)

In [86]:
df

,report_number,date_reported,date_occurred,time_occurred,area_name,crime_code_1,status_code,status_description,location_description,latitude,longitude,Year,Month,Day,Hour
0,190326475,01-03-2020,01-03-2020,21:30,Wilshire,510.0,AA,Adult Arrest,1900 S LONGWOOD AV,34.0375,-118.3506,2020,3,1,21
1,200106753,09-02-2020,08-02-2020,18:00,Central,330.0,IC,Invest Cont,1000 S FLOWER ST,34.0444,-118.2628,2020,2,8,18
2,200320258,11-11-2020,04-11-2020,17:00,Southwest,480.0,IC,Invest Cont,1400 W 37TH ST,34.0210,-118.3002,2020,11,4,17
3,200907217,10-05-2023,10-03-2020,20:37,Van Nuys,343.0,IC,Invest Cont,14000 RIVERSIDE DR,34.1576,-118.4387,2020,3,10,20
4,200412582,09-09-2020,09-09-2020,06:30,Hollenbeck,510.0,IC,Invest Cont,200 E AVENUE 28,34.0820,-118.2130,2020,9,9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005193,250304214,23-02-2025,21-02-2025,15:30,Southwest,510.0,IC,Invest Cont,3600 MCCLINTOCK AV,34.0212,-118.2895,2025,2,21,15
1005194,250304203,20-02-2025,13-02-2025,21:00,Southwest,522.0,IC,Invest Cont,2600 ELLENDALE PL,34.0307,-118.2923,2025,2,13,21
1005195,250504051,14-01-2025,14-01-2025,12:50,Harbor,210.0,IC,Invest Cont,24300 WESTERN AV,33.8046,-118.3074,2025,1,14,12
1005196,251604136,27-02-2025,27-02-2025,15:50,Foothill,510.0,AA,Adult Arrest,11900 SHELDON ST,34.2404,-118.3922,2025,2,27,15
1005197,251904210,25-03-2025,25-03-2025,12:35,Mission,850.0,IC,Invest Cont,11100 OMELVENY AV,34.2722,-118.4417,2025,3,25,12

# top crimes

In [91]:
print(df['status_description'].value_counts().head(10))

status_description
Invest Cont     803946
Adult Other     109255
Adult Arrest     86877
Juv Arrest        3249
Juv Other         1864
UNK                  7
Name: count, dtype: int64

In [93]:
print(df['area_name'].value_counts())

area_name
Central        69674
77th Street    61763
Pacific        59520
Southwest      57511
Hollywood      52430
N Hollywood    51107
Olympic        50071
Southeast      49941
Newton         49181
Wilshire       48240
Rampart        46826
West LA        45731
Northeast      42962
Van Nuys       42883
West Valley    42158
Devonshire     41766
Harbor         41462
Topanga        41376
Mission        40365
Hollenbeck     37095
Foothill       33136
Name: count, dtype: int64

In [99]:
df.duplicated().sum()

0

In [101]:
df.to_csv(r"D:\cleaned_Crime_Data_from_2020_to_Present.csv")

In [102]:
df.to_csv(r"E:\cleaned_Crime_Data_from_2020_to_Present.csv")